@font-face {
	font-family: Gotham Rounded;
	src: url("font.otf") format("opentype");
}

*, *::before, *::after {
	box-sizing: border-box;
	font-family: Gotham Rounded;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: url("bg.jpeg") no-repeat fixed center;
	background-size: cover;
}

.container {
	width: 700px;
	max-width: 90%;
	padding-top: 20%;
}
	

.black {
	background-color: white;
	padding: 10px;
	text-align: center;
	border-radius: 20px;
}

.answer {
	display: grid;
	grid-template-columns: repeat(1, auto);
	gap: 10px;
}

.btn {
	width: 100%;
	padding: 10px 0;
	background: #f9f524;
	border: 0;
	outline: none;
	color: black;
	font-size: 30px;
	border-radius: 7px;
	cursor: pointer;
	box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
}

.black h1 {
	color: black;
	font-style: inherit;
	font-size: 35px;
}

.black p {
	font-size: 18px;
	font-style: inherit;
	color: rgb(62, 62, 62);
	padding-bottom: 4%;
}

.black p2 {
	color: black;
	font-style: inherit;
	font-size: 25px;
}